<li>
  <span class="content"><%= contract.name %></span>
  <span class="content"><%= contract.company %></span>
  <span class="content"><%= contract.start_date %></span>
  <span class="content"><%= contract.end_date %></span>
  <span class="content"><%= contract.text %></span>
</li>
